@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
}

body {
  position: relative;
}

canvas {
  display: block;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 0px;
  padding: 10px;
  color: white;
}

.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px;
  padding: 10px;
  color: white;
}

.grid {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 0px;
  padding: 10px;
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0px;
}

input {
  font-family: "Inter", sans-serif;
  color: white;
  border: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  padding: 5px;
}

@media only screen and (max-device-width: 480px) {
  .header {
    display: none;
  }
}

@media screen and (min-device-width: 481px) {
  .grid {
    display: none;
    grid-template-columns: repeat(2, 1fr);
  }
}
