@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
}

body {
  position: relative;
}

canvas {
  display: block;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
}

.header {
  position: absolute;
  margin-top: -10px;
  left: 0;
  right: 0;
  margin: 15px;
  padding: 10px;
  color: white;
  font-size: large;
}

.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 15px;
  padding: 10px;
  color: white;
  font-size: large;
}
